@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */

header{
  background-color: #000;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1500;
  position: fixed;
}

.left_side {
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
}

.logo{
  width: 25%;
  height: 25px;
}

.navbar {
  height: 50px;
}

.nav-link{
  color: #fff;
  font-size: 18px;
}

.btn{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #04e3d0;
}

.header_ui_btn{
  height: 25px;
}

.header_ui_btn:hover{
  opacity: 0.5;
}

.dropdown-toggle::after {
  margin-top: 10px;
}

.dropdown-menu {
  width: 100%;
  background-color: #000;
}

.h4 {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.form-label {
  color: #fff;
}
/* ここまで(ヘッダー) */

/* コンテイナー */
.container {
  margin: 0;
}

.side_nav_btn {
  margin-top: 100px;
}

.side_nav_cover {
  margin: 100px 10% 100px 0;
  z-index: 1500;
}

.reviews {
  width: 55%;
  margin: 0 auto;
}

.form {
  margin-top: 100px;
}

.review {
  border: solid 1px black;
  margin: 100px 0 100px 0;
}

.profeal_file{
  height: 35px;
  border-radius: 50%;
}

.border_line{
  height: 0.5px;
  background-color: black;
}

.review_item {
  word-wrap: break-word;
}


.review_img_list img{
  width: 100%;
}

.review_img_list img:hover{
  opacity: 0.5;
}

.review_ui {
  height: 24px;
}

.review_ui:hover {
  opacity: 0.5;
}

.icon_ui{
  height: 22px;
}

.ui_area {
  height: 40px;
}

.fa-heart:before {
  content: "\f004";
  font-size: 27px;
}

.fa-heart:hover{
  opacity: 0.5;
}

.like_toggle.liked{
  color: #90000e;
}

.fa-comment-dots:before {
  content: "\f4ad";
  font-size: 27px;
}

.fa-comment-dots:hover{
  opacity: 0.5;
}

.h5 {
  font-weight: bold;
}

.text_area{
  background-color: #f1f1f1;
  display: none;
  word-wrap: break-word;
}

.btn_area{
  background-color: #f1f1f1;
}

/* 投稿の内容を表示するボタン */
.display_btn {
  width: 30%;
  height: 20px;
  font-size: 20px;
  background-color: #f1f1f1;
  color: #90000e;
  border: none;
}

.display_btn:hover {
  opacity: 0.5;
}

.display_btn_inner {
  width: 100%;
  font-size: 15px;
}

/* ヘッダー部分のコーディング */
@media(max-width: 768px) {

  .logo{
    width: 50%;
  }

  .header_ui_btn{
    height: 25px;
  }

  .header_back_btn svg {
    color: #fff;
  }

  .header_back_btn svg:hover {
    opacity: 0.5;
  }

  .left_side {
    clip-path: polygon(100% 0%, 0% 0%, 20% 100%, 80% 100%);
  }

  #register_btn {
    background-color: #000;
    font-size: 20px;
    color: #fff;
    border: none;
  }

  #register_btn:hover {
    opacity: 0.5;
  }

  #register_btn.isActive {
    color: #90000e;
  }

  .user {
    width: 100%;
    margin: 0px 0 10px 0;
  }

  .review_file {
    height: 150px;
    width: 100%;
  }

}

/* タブレッドの表示 */
@media (max-width: 768px){


  .reviews{
    width: 95%;
    margin: 20px auto;
  }

  .form {
    margin-top: 50px;
  }

  .review {
    border: solid 1px black;
    margin: 50px 0 50px 0;
  }

  .display_btn{
    width: 40%;
  }

  .review_ui {
    height: 18px;
  }

  .fa-heart:before {
    content: "\f004";
    font-size: 20px;
  }

  .fa-comment-dots:before {
    content: "\f4ad";
    font-size: 20px;
  }

  .icon_ui{
    height: 18px;
  }

  .display_btn_inner {
    font-size: 14px;
  }


}

/* スマホの表示 */
@media (max-width: 600px){

  .reviews {
    flex-direction: column;
  }

  .review{
    width: 100%;
  }

}
