@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */
header {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.logo_cover {
  width: 35%;
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
}

.logo_cover img {
  width: 30%;
  height: 30px;
  margin-left: 25%;
  margin-top: 5px;
}

/* PC画面の時のみ表示*/
.header_serach_area {
  width: 40%;
  margin-left: 5%;
}

/* ui部分 */
.header_ui_btns {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.serach_text {
  width: 60%;
  height: 50px;
}

.textbox {
  width: 101%;
  height: 30px;
  background-color: #f1f1f1;
  margin: 10px 100% 0 10%;
  border: none;
}

.header_search_btn {
  width: 15%;
  height: 30px;
  background-color: #04e3d0;
  color: #fff;
  font-weight: bold;
  border: none;
  margin: 10px 0 0 5%;
}

.header_search_btn:hover {
  opacity: 0.5;
}

.header_search_btn.isActive {
  background-color: #90000e;
}

/* ここまで */
/* ヘッダーのuiボタン */
.header_ui_btn {
  width: 10%;
  margin: 10px 2% 0 0;
}

.header_ui_btn img {
  height: 25px;
  width: 100%;
}

.header_ui_btn img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header_btn_line {
  height: 5px;
  width: 100%;
  margin-top: 5px;
  background-color: #90000e;
}

/* ヘッダーのレスポンシブ */
@media (max-width: 600px) {
  .logo_cover {
    clip-path: polygon(-2000% 100%, 17.5% 0%, 100% 0%, 70% 100%);
  }

  .logo_cover img {
    width: 40%;
    height: 25px;
    margin-top: 5px;
  }

  .header_serach_area {
    display: none;
  }

  .header_ui_btns {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .header_ui_btn {
    width: 10%;
    margin: 10px 5% 0 0;
  }

  .header_ui_btn img {
    width: 50%;
    height: 18px;
    margin-top: 3px;
  }

  .header_btn_line {
    width: 50%;
    height: 5px;
  }

  .header_serach_area {
    display: none;
  }
}
