@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */

header{
  background-color: #000;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1500;
  position: fixed;
}

.left_side {
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
}


.navbar {
  height: 50px;
}

.logo{
  width: 25%;
  height: 25px;
}


/* ここまで(ヘッダー) */



/* コンテイナー */
.container {
  margin: 0;
}

.reviews {
  width: 40%;
  margin: 0 auto;
}

.review {
  margin: 100px 0 100px 0;
}



/**/

.review {
  width: 70%;
  margin: 100 auto;
}


#no_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #c9f7f3;
}

#preview {
  width: 120px;
  height: 100px;
  border-radius: 50%;
}

#crear {
  width: 50%;
  background-color: #04e3d0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  margin:20px 0 20px 0;
}

input[type="file"] {
  display: none;
}

.h2 {
  color: #fff;
}

.file_btn {
  margin: 160px auto;
}

.contribute {
  width: 50%;
  height: 35px;
  background-color: #90000e;
  color: white;
  margin-top: 30px;
  border: none;
  border-radius: 50px 50px 50px 50px;
}

.new_register_link {
  font-size: 20px;
  color: #04e3d0;
}

/* ヘッダー部分のコーディング */
@media(max-width: 768px) {

  .logo{
    width: 40%;
  }

  .header_ui_btn{
    height: 17px;
  }

  .user {
    width: 100%;
    margin: 0px 0 10px 0;
  }

  .review_file {
    height: 150px;
    width: 100%;
  }

  #crear {
    width: 35%;
    background-color: #04e3d0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    margin:20px 0 20px 0;
  }

  #register_btn {
    background-color: #000;
    font-size: 20px;
    color: #fff;
    border: none;
  }

  #register_btn:hover {
    opacity: 0.5;
  }

  #register_btn.isActive {
    color: #90000e;
  }

}

/* タブレッドの表示 */
@media (max-width: 768px){

  .page_btn {
    width: 25%;
    border-radius: 5%;
    margin:20px 0 20px 0;
  }

  .reviews{
    width: 90%;
    margin: 20px auto;
  }

  .review_files {
    width: 100%;
    height: 350px;
    background-color: black;
  }

  .file_btn {
    margin: 120px auto;
  }

  .left_side{
    clip-path: polygon(-2000% 100%, 17.5% 0%, 100% 0%, 70% 100%);
  }

}

/* スマホの表示 */
@media (max-width: 600px){


  .reviews{
    width: 90%;
    margin: 20px auto;
  }

  .review{
    width: 100%;
  }

}
