@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */

header{
  background-color: #000;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1500;
  position: fixed;
}

.left_side {
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
}


.navbar {
  height: 50px;
}

.form-control {
  height: 45px;
  background-color: #f1f1f1;
}

.nav-link{
  color: #fff;
  font-size: 18px;
}

.btn{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #04e3d0;
}

.header_ui_btn{
  height: 20px;
}

.header_ui_btn:hover{
  opacity: 0.5;
}

/* ここまで(ヘッダー) */

/* プロフィール部分 */
.user {
  width: 80%;
  margin: 0 auto;
}

.user_info {
  margin: 60px auto;
}

.page_profeal_file {
  height: 60px;
  border-radius: 50%;
}

.page_btn {
  height: 30px;
  width: 12%;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  margin:20px 0 20px 0;
}

.follow_btn.followed {
  background-color: #90000e;
}


/* コンテイナー */
.container {
  margin: 0;
}

.main_contents {
  margin-bottom: 200px;
}

.side_nav_btn {
  margin-top: 10px;
}

.side_nav_cover {
  margin: 10px 10% 100px 0;
}

.reviews {
  width: 60%;
  margin: 0 5% 0 40%;
}

.articles {
  margin: 10px 0 50px 0;
}

section{
  height: 25px;
  border: #000 solid 0.5px;
}

.profeal_file{
  height: 35px;
  border-radius: 50%;
}

.review_file_cover {
  max-height: 300px;
  border: 0.5px solid #000;
}

.review_file {
  width: 100%;
}



/* ヘッダー部分のコーディング */
@media(max-width: 768px) {

  .logo{
    width: 50%;
  }

  .header_ui_btn{
    height: 17px;
  }

  .user {
    width: 100%;
    margin: 0px 0 10px 0;
  }

  .review_file {
    height: 150px;
    width: 100%;
  }


}

/* タブレッドの表示 */
@media (max-width: 768px){

  .page_btn {
    width: 25%;
    border-radius: 5%;
    margin:20px 0 20px 0;
  }

  .reviews{
    width: 90%;
    margin: 20px auto;
  }

  .articles {
    margin: 0;
  }

}

/* スマホの表示 */
@media (max-width: 600px){


  .reviews{
    width: 90%;
    margin: 20px auto;
  }

  .review{
    width: 100%;
  }

}
