.side_nav_btn {
  width: 5%;
  height: 420px;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  clip-path: polygon(0% 100%, 0% 0%, 100% 15%, 100% 85%);
}


.side_nav_cover{
  width: 25%;
  height: 400px;
  background-color: #000;
  position: fixed;
}

.side_nav_cover.none {
  display: none;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: #90000e;
}

.var_ui_btn {

  width: 30px;
}

.close_side_nav_btn {
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: #90000e;
  color: white;
  border: none;
  margin: 3px 0 0 92%;
}
