@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */
header {
  background-color: #000;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 1500;
  position: fixed;
}

.left_side {
  height: 40px;
  background-color: white;
  clip-path: polygon(-2000% 100%, 17.5% 0%, 82.5% 0%, 100% 100%);
}

.logo {
  width: 25%;
  height: 25px;
}

.navbar {
  height: 50px;
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.btn {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #04e3d0;
}

.header_ui_btn {
  height: 25px;
}

.header_ui_btn:hover {
  opacity: 0.5;
}

.dropdown-toggle::after {
  margin-top: 10px;
}

.dropdown-menu {
  width: 100%;
  background-color: #000;
}

.h4 {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.form-label {
  color: #fff;
}

/* ここまで(ヘッダー) */
/* コンテイナー */
.container {
  margin: 0;
}

.side_nav_btn {
  margin-top: 100px;
}

.side_nav_cover {
  margin: 100px 10% 100px 0;
  z-index: 1500;
}

.reviews {
  width: 95%;
  margin: 50 auto;
}

.review {
  width: 100%;
  margin: 100px 0 0 13%;
}

.seller_profral_img {
  height: 100px;
  width: 10%;
  border-radius: 50%;
}

.balloon {
  width: 50%;
  border: 10px solid #04e3d0;
  position: relative;
}

.balloon::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -40px;
  top: 20px;
  border-right: 30px solid #04e3d0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.profeal_file {
  height: 35px;
  border-radius: 50%;
}

/**/
/* ヘッダー部分のコーディング */
@media(max-width: 768px) {
  .logo {
    width: 50%;
  }

  .header_ui_btn {
    height: 25px;
  }

  .header_back_btn svg {
    color: #fff;
  }

  .header_back_btn svg:hover {
    opacity: 0.5;
  }

  .left_side {
    clip-path: polygon(100% 0%, 0% 0%, 20% 100%, 80% 100%);
  }
}

/* タブレッドの表示 */
@media (max-width: 768px) {
  .reviews {
    width: 95%;
    margin: 20px auto;
  }

  .review {
    margin: 150px 0 50px 0;
  }

  .seller_profral_img {
    height: 100px;
    width: 25%;
    border-radius: 50%;
  }
}

/* スマホの表示 */
@media (max-width: 600px) {
  .reviews {
    flex-direction: column;
  }

  .review {
    width: 100%;
  }
}
