@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}

html {}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー部分のコーディング */
body {
  background-color: #c9f7f3;
}

header{
  width: 100%;
  top: 0;
  padding: 50px;
  z-index: 1500;
  position: fixed;
}

.profeal_file {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nav-item {
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  margin-left: 5%;
}

.nav-link {
  color: #318176;
}

.nav-link:hover {
  opacity: 0.5;
  color: #318176;
}

.container {
  margin-top: 250px
}

.h2 {
  font-family:Arial Rounded MT Bold;
  color: #256058;
  font-size: 60px;
  text-align: center;
}

.buttons {
  width: 30%;
  border: none;
  background-color: #c9f7f3;
  color: #318176;
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  margin: 80px 0 0 10%;
}

#profile:hover {
  opacity: 0.5;
}

#strong_point:hover {
  opacity: 0.5;
}

#carrier:hover {
  opacity: 0.5;
}

.introduction {
  width: 60%;
  margin: 50px auto;
  display: none;
}

.h3 {
  font-family: Osaka;
  color: #318176;
}

.introduction p{
  font-family: Osaka;
}

.top {
  font-family: Arial Rounded MT Bold;
  font-size: 20px;
  color: #318176;
}

.line {
  height: 1px;
  background-color: #318176;
  margin: 50px 0 100px 0;
  display: none;
}


/* ヘッダー部分のコーディング */
@media(max-width: 768px) {

  svg {
    color: #318176;
  }



}

/* タブレッドの表示 */
@media (max-width: 768px){

  .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1rem;
      clear: both;
      font-weight: 400;
      color: #318176;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
  }

  .h2 {
    font-size: 40px;
  }

}

/* スマホの表示 */
@media (max-width: 600px){



}
